<script>
    var i, menuList, links, link;
    var menuList = document.querySelector("#menu-list");
    var links = <%= raw (@links.to_json) %>;
    for (i = 0; i < links.length; i += 1) {
      link = document.createElement("li");
      link.innerHTML = "<a href=\"" + links[i].link + "\">" + links[i].text + "</a>";
      menuList.appendChild(link);
    }
</script>
