/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$link_color: #707070;
body{
  height: 100%;
  background: none repeat scroll 0 0 #E6E6E6;
  margin:0px;
  font-family: "DejaVu Serif",Helvetica,Arial,sans-serif;
  font-size: 120%;
  a{
    color: $link_color;
    &:hover{
      text-decoration:none;
      font-weight: bold;
    }
  }
}
#header{
  border-bottom: .1em solid black;
  margin-bottom: 1em;
  background-color: silver;
  height: 15%;
  #site-stuff{
    clear:both;
    #logo{
      float:left;
      width:30%;
      padding:.5em 0 1em 1em;
      font-size: 2em;
      font-weight: bold;
    }
    #user_nav{
      width:50%;
      font-size:.5em;
      float:right;
      padding: 1em;
      margin-bottom: 1em; 
      text-align: right;
    }
  }
  #tabs{
    clear:both;
    display:table;
    width: 100%;
    text-align: left;
    .tab.active{
      background: #FFF;
      border-bottom: 0.1em solid #FFFFFF !important;;
      color: #000;
    }
    .tab.inactive{
      border-bottom: 0.1em solid #000000 !important;
    }
    .tab{
      border-top: 0.1em solid #000000 !important;
      border-left: 0.1em solid #000000 !important;
      border-right: 0.1em solid #000000 !important;
      position: relative;
      float: left;
      margin: -.1em .1em;
      padding: .3em 1em;
      background: #ECECEC;
      display: table;
      cursor: pointer;
      font-size: .8em;
    }
  }
}
#footer{
  font-size: 50%;
  height:5%;
  border-top: .1em solid black;
  padding:.8em;
  margin-top: 1em;
  width:100%;
  position: absolute;
  bottom: 0;
  background-color: silver;
}
#wrapper{
  height: 80%;
  #menu{
    margin-top: 1%;
    margin-left: 1%;
    /* float: left; */
    position: absolute;
    width: 15%;
    height: 70%;
    #content-menu{
      padding: .2em;
      font-size: .7em;
    }
  }
  #main{
    height: 90%;
    position: relative;
    left: 20%;
    font-size:80%;
    width:75%;
    background: #FFF;
    #content{
      padding: .5em;
      #tabs_contents{
        clear:both;
        line-height: 1.5;
        .active{
          display: block;
        }
        .inactive{
          display:none;
        }
        .field{
          float: left;
          padding: .1em;
        }
        .element_raw{
          clear: both;
          .name{
            width: 20%;
          }
          .description{
            width: 60%;
          }
          .div_link_show{
            width: 10%;
            .link_show{
              cursor: pointer;
              font-weight: 600;
              color: $link_color;
              &:hover{
                color: #FFFFFF;
                background-color: #000000;
              }
            }
          }
        }
        .field_raw{
          clear: both;
          .label{
            width: 20%;
            }
          .text{
            padding-left: 1em;
          }
        }
      }
    }
  }
}
