/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#tabs{
  clear:both;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 24px;
  border-bottom: 1px solid #AAA;
  .active{
    background: #FFF;
    border-bottom-color: #FFF;
    color: #000;
  }
}
.tab{
  position: relative;
  margin: -1px 10px;
  padding: 0 10px;
  border: 1px solid #AAA;
  background: #ECECEC;
  display: inline-block;
  cursor: pointer;
}
#tabs_contents{
  clear:both;
  .active{
    display:block;
  }
  .inactive{
    display:none;
  }
  .element_raw{
    clear:both;
    .field{
      float:left;
      padding: 5px;
    }
    .id{
      width:40px;
      margin-left:5px;
    }
    .name{
      width:200px;
    }
    .description{
      width:600px;
    }
    .div_link_elements_show{
      width:40px;
    }
  }
}

