// Place all the styles related to the Elements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
  float:left;
}
.end_header, .end_element{
  clear:both;
}
.element_field{
  float:left;
  padding: 0 10px;
}
.element_name{
  width:200px;
}
.element_short_description{
  width:500px;
}
.element_show{
  width:100px;
}
.element_delete{
  width:100px;
}
#tabs{
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 24px;
  border-bottom: 1px solid #AAA;
  .active{
    background: #FFF;
    border-bottom-color: #FFF;
    color: #000;
  }
}
.tab{
  position: relative;
  margin: -1px 10px;
  padding: 0 10px;
  border: 1px solid #AAA;
  background: #ECECEC;
  display: inline-block;
  cursor: pointer;
}
.tab_before,
.tab_after {
    position: absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
}
.tab_before {
    left: -7px;
}
.tab_after {
    right: -7px;
}
.tab_after, .tab_before {
    border: 1px solid #AAA;
}
.tab {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.tab_before {
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
}
.tab_after {
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
}
.tab_before {
    box-shadow: 2px 2px 0 #ECECEC;
}
.tab_after {
    box-shadow: -2px 2px 0 #ECECEC;
}
.tab.active tab_before {
    box-shadow: 2px 2px 0 #FFF;
}
.tab.active tab_after {
    box-shadow: -2px 2px 0 #FFF;
}
.tab {
    background:      -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background:     -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background:    -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    margin: 0 -5px;
    padding: 0 20px;
}
#end_tabs{
  margin-bottom:20px;
}
#tabs_contents{
  clear:both;
  .active{
    display:block;
  }
  .inactive{
    display:none;
  }
}
#footer_elements_list{
  text-align:center;
  margin-top:30px;
}
