// Place all the styles related to the Elements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
  float:left;
}
.end_header, .end_element{
  clear:both;
}
.element_field{
  float:left;
  padding: 0 10px;
}
.element_name{
  width:200px;
}
.element_short_description{
  width:500px;
}
.element_show{
  width:100px;
}
.element_delete{
  width:100px;
}
#tabs{
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 24px;
  border-bottom: 1px solid #AAA;
  .active{
    background: #FFF;
    border-bottom-color: #FFF;
    color: #000;
  }
}
.tab{
  position: relative;
  margin: -1px 10px;
  padding: 0 10px;
  border: 1px solid #AAA;
  background: #ECECEC;
  display: inline-block;
  cursor: pointer;
}
#footer_elements_list{
  margin-top:30px;
}
.footer-right{
  width:30%;
  float:left;
  text-align:right;
}
.footer-left{
  width:30%;
  float:left;
  text-align:left;
}
.paginate{
  width:40%;
  text-align:center;
  float:left;
  margin-left: auto;
  margin-right: auto 
}
