!!!
%html
  %head
    %title Lascar
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #tabs
    #tabs_contents

  :javascript
    $.ajax({
      url: "#{params[:controller]}/list/element",
      type: "POST",
      dataType:'script',
    });
