!!!
%html
  %head
    %title Lascar
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #tabs{"data-child" => "tab"}
    #tabs_contents{"data-child" => "tab_content"}

:javascript
  $.ajax({
    url: "elements/list",
    type: "POST",
    dataType:'json',
    success: function (data) {
      Lascar.readResponse(data);
    },
    error: function (xhr, ajaxOptions, thrownError) {
      console.log(xhr.status);
      console.log(thrownError);
    }
  });
