<html>
  <head>
    <title>Askar </title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags  %>
  </head>
  <body>
    <div data-child="tab" id="tabs"></div>
    <div data-child="tab_content" id="tabs_contents"></div>
  </body>
</html>
<script>
  Askar.controller = "<%= params[:controller] %>"; 
  Askar.lauchAction(-1, "list");

</script>
